## Imports

In [1]:
from utils.db_query_utils import DbQueryTool

db_postgress = DbQueryTool(
        host= 'localhost',
        port=5432,
        user="admin",
        password="admin",
        dbname="dbt_db",
        db_type="Postgress",
    )

## Question 1:
Create a dbt model that calculates total revenue by product category for each month. Include basic data transformations and aggregations.

In [4]:
total_revenue_by_product_category=db_postgress.execute_sql(sql="select * from marts.mart_sales_revenue_product_category_monthly")

In [5]:
total_revenue_by_product_category

,category_name,monthly_date,total_revenue_orders,net_revenue_excl_shipping,net_revenue_incl_shipping
0,Books,2024-01-01,567.25,442.4550,487.8350
1,Books,2024-02-01,289.99,237.7918,260.9918
2,Books,2024-03-01,454.90,337.9130,374.3030
3,Books,2024-04-01,868.24,660.7828,730.2428
4,Books,2024-05-01,1135.20,871.7520,962.5620
5,Books,2024-06-01,234.75,206.5800,225.3600
6,Books,2024-07-01,2751.44,2296.9713,2517.0813
7,Clothing,2024-01-01,1942.55,1587.9100,1738.8700
8,Clothing,2024-02-01,1459.45,1013.5775,1138.8375
9,Clothing,2024-03-01,790.95,660.4200,723.7000
10,Clothing,2024-04-01,956.75,776.5400,853.0800
11,Clothing,2024-05-01,498.99,324.3435,364.2635
12,Clothing,2024-06-01,746.89,574.6670,634.4170
13,Clothing,2024-07-01,2228.40,1709.0545,1887.3245
14,Electronics,2024-01-01,1546.46,1175.4160,1315.4460
15,Electronics,2024-02-01,1720.74,1466.1480,1603.7980
16,Electronics,2024-03-01,893.24,679.6805,751.1405
17,Electronics,2024-04-01,657.89,539.8105,592.4405
18,Electronics,2024-05-01,648.64,584.8930,636.7830
19,Electronics,2024-06-01,1049.49,887.8815,971.8415
20,Electronics,2024-07-01,4098.23,3045.4647,3373.3247
21,Home & Garden,2024-01-01,320.00,256.0000,281.6000
22,Home & Garden,2024-02-01,274.25,228.2775,250.2175
23,Home & Garden,2024-03-01,357.79,305.0865,333.7065
24,Home & Garden,2024-04-01,234.99,206.7912,225.5912
25,Home & Garden,2024-05-01,912.85,690.8350,763.8650
26,Home & Garden,2024-06-01,745.75,515.9150,575.5750
27,Home & Garden,2024-07-01,3607.19,2525.4005,2813.9705
28,Sports,2024-01-01,1024.79,888.1055,970.0855
29,Sports,2024-02-01,89.99,89.9900,97.1900
30,Sports,2024-03-01,678.90,509.1750,563.4850
31,Sports,2024-04-01,802.55,550.0425,614.2425
32,Sports,2024-05-01,635.25,513.9950,564.8150
33,Sports,2024-06-01,988.98,737.1345,816.2545
34,Sports,2024-07-01,2330.00,1888.0400,2074.4300